h1 {
    color: maroon;
}

p {
    background-color: mediumaquamarine;
    padding: 10%;
    margin-block-end: 0em;
}

h2 {
color: mediumslateblue;
}

a {
    color: #941c1c;
    text-decoration: none;
}

ul {
    padding-left: 40px;
    list-style-type: lower-greek;
}